<header th:fragment="header01Fragment">
	<div id="header">
		<h1 class="logo">
			<a href="/"><img src="/img/logo.png" alt="logo"></a>
		</h1>
		<div class="gnb">
			<ul>
				<li><a href="/about/intro/index.jsp">교육센터소개</a>
					<ul class="depth02">
						<li><a href="/about/intro/index.jsp">센터소개</a></li>
						<li><a href="/about/history/index.jsp">연혁</a></li>
						<li><a href="/about/teacher/index.jsp">강사소개</a></li>
						<li><a href="/about/facilities/index.jsp">교육시설</a></li>
						<li><a href="/about/strength/index.jsp">쌍용강점</a></li>
						<li><a href="/about/location/index.jsp">오시는길</a></li>
					</ul></li>
				<li><a href="/employment/gangnam/index.jsp">취업과정</a>
					<ul class="depth02">
						<li><a href="/employment/gangnam/index.jsp">강남교육센터</a></li>
						<li><a href="/employment/gangbuk/index.jsp">강북교육센터</a></li>
					</ul></li>
				<li><a href="/incumbent/gangnam/index.jsp">재직자과정</a>
					<ul class="depth02">
						<li><a href="/incumbent/gangnam/index.jsp">강남교육센터</a></li>
						<li><a href="/incumbent/gangbuk/index.jsp">강북교육센터</a></li>
					</ul></li>
				<li><a href="/system/country/index.jsp">교육제도안내</a>
					<ul class="depth02">
						<li><a href="/system/country/index.jsp">국가기간·전략산업</a></li>
						<li><a href="/system/nation/index.jsp">국민내일배움카드</a></li>
						<li><a href="/system/business/index.jsp">사업주직업능력개발</a></li>
					</ul></li>
				<li><a href="/job/center/index.jsp">취업센터</a>
					<ul class="depth02">
						<li><a href="/job/center/index.jsp">쌍용 취업지원센터</a></li>
						<li><a href="/job/status/index.jsp">취업현황</a></li>
						<li><a href="/job/review/index.jsp">수강후기</a></li>
						<li><a href="/job/portfolio/index.jsp">포트폴리오</a></li>
						<li><a href="/job/request/write.jsp">구인의뢰</a></li>
					</ul></li>
				<li><a href="/customer/notice/index.jsp">고객센터</a>
					<ul class="depth02">
						<li><a href="/customer/notice/index.jsp">공지사항</a></li>
						<li><a href="/customer/consult/write.jsp">교육문의</a></li>
						<li><a href="/customer/faq/index.jsp">FAQ</a></li>
						<li><a href="/customer/lease/index.jsp">강의장임대</a></li>
						<li><a href="/customer/enterprise/index.jsp">기업교육컨설팅</a></li>
						<li><a href="/customer/payment/index.jsp">결제안내</a></li>
					</ul></li>
				<li><a href="/reservate/reservate/write.jsp">예약센터</a>
					<ul class="depth02">
						<li><a href="/reservate/reservate/write.jsp">방문상담예약</a></li>
					</ul></li>
			</ul>
		</div>
		<div class="right_box">
			<ul class="">

				<li><a href="/member/login.jsp">
						<p>로그인</p>
				</a></li>
				<li><a href="/member/write.jsp">
						<p>회원가입</p>
				</a></li>

				<li><a href="http://lms1.sist.co.kr/">
						<p>교육정보시스템</p>
				</a></li>
			</ul>
			<a href="javascript:;" class="all_btn"> <i></i><i></i><i></i>
			</a>
		</div>
	</div>
</header>