<div th:fragment="sidebarFragment">
<!-- quick -->
<div id="quick_menu">
	<p class="top_logo">
		<img src="/img/quick_top_icon.png" alt="">
	</p>
	<ul>
		<li class="tit01">
			<img src="/img/quick_menu_icon01.png" alt="icon">
			<h6>수강신청</h6>
		</li>
		<li>
			<a href="/employment/gangnam/index.jsp">
				<h5>강남</h5>
				<p>지원하기</p>
			</a>
		</li>
		<li>
			<a href="/employment/gangbuk/index.jsp">
				<h5>강북</h5>
				<p>지원하기</p>
			</a>
		</li>
		<li>
			<a href="/employment/gangbuk/index.jsp">
				<h5>강북 별관</h5>
				<p>지원하기</p>
			</a>
		</li>
	</ul>
	<ul class="type02">
		<li>
			<a href="/customer/consult/write.jsp">
				<img src="/img/quick_menu_icon02.png" alt="icon">
				<h6>온라인 상담</h6>
			</a>
		</li>
		<li>
			<a href="/reservate/reservate/write.jsp">
				<img src="/img/quick_menu_icon03.png" alt="icon">
				<h6>방문상담예약</h6>
			</a>
		</li>
		<li>
			<a href="/about/location/index.jsp">
				<img src="/img/quick_menu_icon04.png" alt="icon">
				<h6>오시는 길</h6>
			</a>
		</li>
		<li class="kakao">
			<a href="//pf.kakao.com/_xnnWSu" target="_blank">
				<img src="/img/quick_menu_icon05.png" alt="icon">
				<h6>카카오톡상담</h6>
			</a>
		</li>
	</ul>
	<ul>
		<li class="tit02">
			<img src="/img/quick_menu_icon06.png" alt="icon">
			<h6>교육문의</h6>
		</li>
		<li>
			<a href="tel:02-3482-4632">
				<h5>강남</h5>
				<p>02-3482-4632</p>
			</a>
		</li>
		<li>
			<a href="tel:02-336-8546">
				<h5>강북</h5>
				<p>02-336-8546</p>
			</a>
		</li>
		<li>
			<a href="tel:02-2088-8408">
				<h5>강북 별관</h5>
				<p>02-2088-8408</p>
			</a>
		</li>
	</ul>
</div>
<!-- quick // -->
</div>